{% extends "layout.html" %}
{% block title %}Projects - Portfolio{% endblock %}

{% block content %}
<section id="projects" class="py-5">
  <div class="container">
    <h2>Projects</h2>
    <div class="row g-4">
      <div class="col-md-4">
        <div class="card">
          <img src="https://via.placeholder.com/400x250" class="card-img-top">
          <div class="card-body">
            <h5>Project One</h5>
            <p>A cool project.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
